html {
  font-size: 12px;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row; /* 横並び */
  justify-content: space-between; /* 両脇 */
  align-items: center; /* 縦中央 */
  background-color: whitesmoke;
}

h1 {
  margin-left: 1rem;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
}

.button-like {
  margin-right: 1rem;;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.button-like:hover {
  opacity: 0.8;
}

.dialog {
  height: 50vh;
  padding: 7px;
}

.dialog .operation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dialog input {
  font-size: 1.2rem;
  height: 1.2rem;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: block;
  border: 1px solid darkgray;
}

.dialog .button-like {
  margin: auto 5px;
}

.dialog input::placeholder {
  color: lightgray;
}

.dialog .search-results {
  height: 250px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book-search-item {
  margin: 5px;
  padding: 5px;
  width: 35vw;
  height: 35vw;
  text-align: center;
  position: relative;
  border: 1px solid lightgray;
}

.book-search-item h2 {
  font-size: 1.1rem;
  height: 1.4rem;
  margin: 2px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-search-item .authors {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-search-item .add-book {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: darkseagreen;
  font-size: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.book-search-item .add-book:hover {
  opacity: 0.8;
}

.book-search-item div {
  font-size: 1rem;
  height: 1.2rem;
  margin: 2px 2px 2px;
  padding: 2px 2px 2px;
  text-align: right;
}

.book-search-item img {
  height: 22vw;
}

.book-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-row:nth-child(even) {
  background-color: whitesmoke;
}

.book-row div {
  height: 1rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-row div.title {
  width: 170px;
}

.book-row div.authors {
  width: 140px;
}

.book-row input {
  width: 80px;
  outline: 0;
  border: 1px solid whitesmoke;
}

.book-row:nth-child(even) input {
  background-color: whitesmoke;
}

.book-row .delete-row {
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}
  
.book-row .delete-row:hover {
  opacity: 0.8;
}
